<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Wonder
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.png')}}"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			<script src="https://kit.fontawesome.com/26b2a5bc8a.js" crossorigin="anonymous"></script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	</head>

	<body class="d-flex flex-column">
		{{ include('partials/_header.html.twig') }}
		{% for cat, list in app.flashes %}
			{% for message in list %}
				<div class="flash flash-{{ cat }}">{{ message }}</div>
			{% endfor %}
		{% endfor %}

		<div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center">
			<div class="content d-flex flex-row-nowrap flex-fill py-50">
				{{ include('partials/_sidebar.html.twig') }}
				<div class="flex-fill">
					{% block body %}Contenu
					{% endblock %}
				</div>
			</div>
		</div>
		{{ include('partials/_footer.html.twig') }}
	</body>

</html>
